<html>
	<body>
		<h1>Friends:</h1>
		<table style="width:975px; border: 5px solid red;">
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Friend Since</th>
				<th>Year</th>
			</tr>
				<td>mike</td>
				<td>16</td>
				<td>today</td>
				<td>2017</td>
			</tr>
<!-- if they click add friend, fill in the below, adding rows each timie theyi add a new friend -->
<!-- 		</tr>
				<td>mike</td>
				<td>16</td>
				<td>today</td>
				<td>2017</td>
			</tr> -->
<!-- finish if -->
		</table>
		<br>
		<form action='/more' method='post'>
			Name: <input type='text' name='name1'>
			Age: <input type='text' name='age1'>
			<input type='submit' value='Submit'>
		</form>
	</body>
</html>